###### (Problem: 01) Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [1]:
for num in range(2000, 3201):
    if num % 7 == 0 and num % 5 != 0:
        print(num, end=",")
print("\b")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

###### (Problem: 02) Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line. Suppose the following input is supplied to the program: 8 Then, the output should be: 40320

In [2]:
n = int(input())
fact = 1
for i in range(1, n + 1):
    fact = fact * i
print(fact)

8
40320

###### (Problem: 03) With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [3]:
n = int(input())
ans = dict()
for i in range(1, n + 1):
    ans[i] = i * i
print(ans)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

###### (Problem: 04) Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program: 34,67,55,33,12,98                                                                                      Then, the output should be:  ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

In [4]:
lst = input().split(',')
tpl = tuple(lst)
print(lst)
print(tpl)

34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

###### (Problem: 05) Define a class which has at least two methods: getString: to get a string from console input, printString: to print the string in upper case. Also please include simple test function to test the class methods.

In [5]:
class InputOutputString():
    def get_string(self):
        self.s = input()

    def print_string(self):
        print(self.s.upper())

obj = InputOutputString()
obj.get_string()
obj.print_string()

Computer Science
COMPUTER SCIENCE

###### (Problem: 06) Write a program that calculates and prints the value according to the given formula: Q = Square root of [(2 * C * D)/H]  Following are the fixed values of C and H: C is 50. H is 30. D is the variable whose values should be input to your program in a comma-separated sequence. Example Let us assume the following comma separated input sequence is given to the program: 100,150,180 The output of the program should be: 18,22,24

In [6]:
from math import sqrt
my_list = [int(x) for x in input('').split(',')]
C, H, x = 50, 30, []

for D in my_list:
    Q = sqrt((2*C*D)/H)
    x.append(round(Q))

print(','.join(map(str, x)))

100,150,180
18,22,24

###### (Problem: 07) Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. Note: i=0,1.., X-1; j=0,1,¡­Y-1. Example Suppose the following inputs are given to the program: 3,5 Then, the output of the program should be: [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [7]:
X,Y = map(int,input().split(','))
lst = []

for i in range(X):
    temp = []
    for j in range(Y):
        temp.append(i*j)
    lst.append(temp)

print(lst)

3,5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

###### (Problem: 08) Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically. Suppose the following input is supplied to the program: without,hello,bag,world Then, the output should be: bag,hello,without,world

In [8]:
lst = input().split(',')
lst.sort()

print(",".join(lst))

without,hello,bag,world
bag,hello,without,world

###### (Problem: 09) Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized. Suppose the following input is supplied to the program: Hello world                                                                                                                                               Practice makes perfect                                                                                                                                                                                                                        Then, the output should be: HELLO WORLD                                                                                                                                                                     PRACTICE MAKES PERFECT

In [9]:
lines = []
while True:
    sen = input()
    if len(sen)==0:
        break
    lines.append(sen.upper())

for sen in lines:
    print(sen)

Hello world
Practice makes perfect

HELLO WORLD
PRACTICE MAKES PERFECT

###### (Problem: 10) Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again Then, the output should be: again and hello makes perfect practice world

In [10]:
words = input().split()
for tmp in words:
    if words.count(tmp) > 1:
        words.remove(tmp)

words.sort()
print(" ".join(words))

hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

###### (Problem: 11) Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence. Example: 0100,0011,1010,1001 Then the output should be: 1010 Notes: Assume the data is input by console.

In [11]:
def checkDiv(x):             
    return int(x,2)%5 == 0      
                                
num = input().split(',')

num = list(filter(checkDiv,num)) # in filter(func,object) function, elements are picked from 'num' if found True by 'checkDiv' function
print(",".join(num))

0100,0011,1010,1001
1010

###### (Problem: 12) Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a comma-separated sequence on a single line.

In [12]:
ans = []

for num in range(1000,3001):
    flag = 1
    for temp in str(num):  
        if ord(temp)%2 != 0:     # here ord returns ASCII value and temp is every digit of num
            flag = 0         
    if flag == 1:
        ans.append(str(num))

print(",".join(ans))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

###### (Problem: 13) Write a program that accepts a sentence and calculate the number of letters and digits. Suppose the following input is supplied to the program: hello world! 123 Then, the output should be: LETTERS 10 DIGITS 3

In [13]:
sen = input()
letter = 0
digit = 0

for x in sen:
    if x.isalpha():
        letter += 1
    elif x.isnumeric():
        digit += 1
        
print("LETTERS {0}\nDIGITS {1}".format(letter,digit))

hello world! 123
LETTERS 10
DIGITS 3

###### (Problem: 14) Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters. Suppose the following input is supplied to the program: Hello world! Then, the output should be: UPPER CASE 1 LOWER CASE 9

In [15]:
sen = input()
upper = 0
lower = 0

for i in sen:
    if i.isupper():
        upper+=1
    if i.islower():
        lower+=1

print("UPPER CASE {0}\nLOWER CASE {1}".format(upper,lower))

Hello world!
UPPER CASE 1
LOWER CASE 9

###### (Problem: 15) Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a. Suppose the following input is supplied to the program: 9 Then, the output should be: 11106

In [16]:
a = input()
total = int(a) + int(2*a) + int(3*a) + int(4*a)
print(total)

9
11106

###### (Problem: 16) Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers. Suppose the following input is supplied to the program: 1,2,3,4,5,6,7,8,9 Then, the output should be: 1,9,25,49,81

In [17]:
lst = input().split(',') 
lst = [int(i) for i in lst] 
ans = []

for i in lst:
        if i%2 != 0:
                i = i*i
                ans.append(i)

ans = [str(i) for i in ans]
print(",".join(ans))

1,2,3,4,5,6,7,8,9
1,9,25,49,81

###### (Problem: 17) Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following: D 100 W 200 D means deposit while W means withdrawal. Suppose the following input is supplied to the program: D 300 D 300 W 200 D 100 Then, the output should be: 500

In [19]:
balance = 0

while True:
    s = input().split()
    if len(s) == 0:            
        break
    tran,value = map(str,s)

    if tran =='D':
        balance += int(value)
    if tran =='W':
        balance -= int(value)

print(balance)

D 300
D 300
W 200
D 100

500

###### (Problem: 18) A website requires the users to input username and password to register. Write a program to check the validity of password input by users. Following are the criteria for checking the password:
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12
Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma. Example: 
If the following passwords are given as input to the program:
ABd1234@1,a F1#,2w3E*,2We3345
Then, the output of the program should be:
ABd1234@1

In [20]:
def checkPassword(s):
    cnt = (len(s) >= 6 and len(s) <= 12)
    
    for i in s:
        if i.isupper():
            cnt += 1
            break
            
    for i in s:
        if i.islower():
            cnt += 1
            break
            
    for i in s:
        if i.isnumeric():
            cnt += 1
            break
            
    for i in s:
        if i=='@' or i=='#' or i=='$':
            cnt += 1
            break
            
    return cnt == 5            

passlen = input().split(',')
ans = filter(checkPassword,passlen)             
print(",".join(ans))

ABd1234@1,a F1#,2w3E*,2We3345
ABd1234@1

###### (Problem: 19) You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is: 1: Sort based on name; 2: Then sort based on age; 3: Then sort by score. The priority is that name > age > score. If the following tuples are given as input to the program: Tom,19,80 John,20,90 Jony,17,91 Jony,17,93 Json,21,85 Then, the output of the program should be: [('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [21]:
ans = []

while True:
    s = input().split(',')
    if not s[0]:                  
        break
    ans.append(tuple(s))

ans.sort(key = lambda x:(x[0], int(x[1]), int(x[2])))  # here key is defined by lambda and the data is sorted by element priority 0>1>2 in accending order
print(ans)

Tom,19,80
John,20,90
Jony,17,91
Jony,17,93
Json,21,85

[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

###### (Problem: 20) Define a class with a generator which can iterate the numbers, which are divisible by 7, between a given range 0 and n. Suppose the following input is supplied to the program: 7 Then, the output should be: 0 7 (Consider use yield)

In [25]:
class Div:
    def by_seven(self, n):
        for num in range(0, n + 1):
            if num % 7 == 0: yield num

divisible = Div()
generator = divisible.by_seven(int(input("Please insert a number: ")))
for num in generator:
    print(num)

Please insert a number: 7
0
7